@import "../components/variables";

main.container-fluid {
  section {
    padding: 1rem; 
  }
  .intro-section.row {
    padding: 0;

    .col-12 {
      padding: 0;
      .intro-content {
        color: white;
        padding: 0.5rem;
        align-items: center;
        .image-wrap {
          img {
            border-radius: 50%;
          }
        }
        p {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          
          text-align: center;
        }

        @media screen and (min-width: $break) {
          padding: 1rem 20%;

          p {
            padding: 0 5rem;
            text-align: left;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .projects-nav-section {
    padding: 1rem 0;
    @media screen and (min-width: $break) {
      padding: 1rem 20%;
    }
    h2 {
      font-size: 1.4rem;
      text-align: center;
    }
  }

  .projects-section {
    padding: 1rem 0 0 0;
  }
}
