// Colors
$color-queueserver: #FF4500;
$color-pitchdb: #001ab7;
$color-moncrud: rgb(68, 155, 69);
$color-gersafeii: #2D89E5;
$color-collabide: #329875;
$color-walkingroutes: #E59400;
$color-questionnairequest: #9370DB;
$color-sparkfive: #10bda5;
$color-trymetric: #4880FF;
$color-mustr: black;

$break: 960px;
