@import "variables";
@import "mixins";

footer{
  background-color: #505050;
  color: white;
  font-size: 0.9rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem; 
  @media screen and (min-width: $break) {
    padding: 1rem 20%;
  }
  ul{
    margin-bottom: 0;
    justify-content: center;
    padding-top: 1rem;
  }

  .footer-text{
    padding-top: 1rem; 

    a{
      color: #C8C8C8;
  
      &:visited{
        color: #C8C8C8;
      }
  
      &:hover{
        opacity: 0.5;
      }
    } 
  }
}