@import "variables";
@import "mixins";

header {
  padding: 1rem;
  background-color: black;

  h1 {
    font-size: 1.7rem;
    margin: 0;
    a {
      color: white;
      text-decoration: none;
    }
  }

  @media screen and (min-width: $break) {
    padding: 1rem 20%;
  }
}
