@import "variables";
@import "mixins";

.project-article.col-12 {
  color: white;
  margin-bottom: 0.5rem;

  .pro-title-row {
    text-align: center;

    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      margin-bottom: 0;
      height: 4rem;
    }
  }

  .proj-main-row {
    color: black;
    background-color: white;
    padding: 1rem;
    @media screen and (min-width: $break) {
      padding: 1rem 20%;
    }

    .image-wrap.col-12 {
      border: 1px solid black;
      padding: 1rem;
    }
    
    p.col-12 {
      padding: 1rem 0 0 0;
      text-align: justify;
      margin-bottom: 0;
    }

    p.col-12.proj-dates {
      font-style: italic;
      text-align: left;
      color: #999999;
    }

    .proj-skills{
      padding-top: 1rem; 
    }
  }

  .proj-skills-det-row{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    ul{
      margin: 0;
      justify-content: center;
    }
  }

  &#pitchdb {
    @include projColor($color-pitchdb);
  }

  &#moncrud {
    @include projColor($color-moncrud);
  }

  &#gersafeii {
    @include projColor($color-gersafeii);
  }

  &#collabide {
    @include projColor($color-collabide);
  }

  &#walkingroutes {
    @include projColor($color-walkingroutes);
  }

  &#questionnairequest {
    @include projColor($color-questionnairequest);
  }
  
  &#queueserver {
    @include projColor($color-queueserver);
  }
}
